<div class="main-header">
  <h3 class="dash1">Your Furniture is Old.</h3>
  <h4 class="dash2">Ours is older.</h4>
  <h5> <%= link_to("All Users", "/users") %></h5>
  <h5> <%= link_to("All Tweets", "/tweets") %></h5>

</div>
