<div>
  <p>
    <h5><%=link_to("#{tweet.user.name}", "/users/#{tweet.user.id}") %></h5>
    <h5><%=link_to("#{tweet.user.handle}", "/users/#{tweet.user.id}") %></h5>
    <h5><%= tweet.body %></h5>

  </p>
</div>
