<div class="user-index-block">
  <h2 class="user-list"><%= "User List" %></h2>
  <% users.each do |user| %>

    <div class="user-index">
      <h3>
        <%= link_to user.handle, "/users/#{user.id}" %>
      <%= link_to "Delete", user_path(user), method: :delete, data: {confirm: "Are you sure?"} %>
      </h3>
    </div>

  <% end %>
</div>
