<div class="user-index-block">
  <h2 class="user-list"><%= "User List" %></h2>
  <% users.each do |user| %>

    <div class="user-index">
      <div>
        <div class="index-user-handle"<%= link_to user.handle, "/users/#{user.id}" %></div>
        <button type="delete" class="user-delete-button"><%= link_to "Delete", user_path(user), method: :delete, data: {confirm: "Are you sure?"} %></button>
      </div>
    </div>

  <% end %>
</div>
