$banner-color: white;
$banner-color-light: lighten($banner-color, 20%);

$box-color: #7EA6CB;
$box-color-dark: darken($box-color, 20%);

$button-color: #7EA6CB;
$button-color-hover: #6687A6;

$text-color: white;

$font-family: -apple-system, "Helvetica", Arial, sans-serif;
