$main-color: #0084B4;
$main-color-light: lighten($main-color, 20%);

$box-color: #F5F8FA;

$border-color: #E1E8ED;

$button-color: #7EA6CB;
$button-color-hover: #6687A6;

$text-color: white;

$font-family: -apple-system, "Helvetica", Arial, sans-serif;
