$main-color: #0084B4;
$main-color-light: lighten($main-color, 20%);
$main-color-dark: darken($main-color, 10%);

$box-color: #F5F8FA;

$border-color: #E1E8ED;

$main-text: black;
$secondary-text: #93A3AE;


$button-color: #7EA6CB;
$button-color-hover: #6687A6;

$text-color: white;

$font-family: -apple-system, "Helvetica", Arial, sans-serif;
