@import 'variables';

div {
  h2 {
    background-color: white;
    height: 50px;
    border: 1px solid $border-color;
    padding-top: 5px;
    .title {
      text-decoration: none;
      color: black;
      &:hover{
        text-decoration: underline;
        color: $main-color;
      }
    }
    .home {
      float: right;
      height: 40px;
      color: black;
      text-decoration: none;
      color: black;
      &:hover{
        text-decoration: underline;
        color: $main-color;
      }
      img {
        height: 30px;
        padding-right: 0px;
        width: auto;
      }
    }
  }
}
