@import 'variables';

.other-users {
  text-align: left;
  border: 1px solid $border-color;
  border-radius: 10px;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  background: white;
  &:hover {
    background: white;
  }
  .user-handle {
    margin: 10px;
    float: left;
    a {
      &:hover {
        text-decoration: none;
        color: $main-color;
      }
    }
  }
  .user-edit-button {
    float: right;
    border: 1px solid $border-color;
    border-radius: 5px;
    background: $main-color;
    padding-top: 6px;
    margin: 5px 10px 0 5px;
    font-size: 90%;
    width: 50px;
    height: 30px;
    text-align: center;
    &:hover {
      background: $main-color-dark;
      text-decoration: none;
    }
    a {
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1300px) {
  .user-edit-button {
    visibility: hidden;
  }
}

@media (max-width: 1185px) {
  .other-users {
    visibility: hidden;
  }
}

@media (max-width: 991px) {
  .other-users {
    visibility: visible;
    min-width: 30%;
    margin-right: 0;

  }
}
@media (max-width: 890px) {
  .other-users {
    visibility: hidden;
  }
}
