@import 'variables';

.other-users {
  text-align: left;
  border: 1px solid $border-color;
  border-radius: 10px;
  margin: 0 0 10px 10px;
  margin-right: 8%;
  padding: 10px;
  background: white;
}
