@import 'variables';




.main-tweet-block {
  float: left;
  border: 1px solid $border-color;
  margin: 10px 0 0 0;
  border-radius: 5px;

  .tweet-name-body-block {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    .tweet-link {
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: none;
      }
    }
    .individual-tweet-block {
      .tweet-block {
      }
      .name-handle /* big block */{
        color: black;
        &:hover {
          color: $main-color;
          text-decoration: underline;
        }
        .tweets-name /* name block */{
          &:hover {
            text-decoration: underline;
          }
        }
        .tweets-handle /* handle block */{
          color: $secondary-text;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
        .tweets-time {
          color: $secondary-text;
          text-decoration: none;
          &:hover {
            text-decoration: none;
            text-decoration: underline;
          }
        }
      }
      .tweets-body  {
        color: black;
        text-align: left;
        &:hover {
          color: $main-color;
          text-decoration: underline;

        }
      }
      &:hover {
        background: $box-color;
      }
    }
  }
}
