@import 'variables';

.background {
  background: $box-color;
}

.main-tweet-block {
  float: left;
  border: 1px solid $border-color;
  margin: 10px 10px 0 0;
  border-radius: 5px;
  background: white;
  &:hover {
    background: white;
  }
  .tweet-count h6 {
    border: none;

  }
  .tweet-name-body-block {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 0 10px 0 10px;

    .individual-tweet-block {
      &:hover {
        color: $main-color;
      }
      .name-handle /* big block */{
        &:hover {
          color: $main-color;
          text-decoration: underline;
        }
        .name-link {
          text-decoration: none;
          &:hover {
            color: $main-color;
            text-decoration: none;
          }
        }
        .tweets-name /* name block */{
          color: black;
          &:hover {
            color: $main-color;
            text-decoration: underline;
          }
        }
        .tweets-handle /* handle block */{
          color: $secondary-text;
          &:hover {
            text-decoration: none;
          }

        }
        .tweets-time {
          color: $secondary-text;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
          .link {
            &:hover {
              text-decoration: none;
            }
          }
        }
      }

      .tweet-link {
        &:hover {
          text-decoration: none;
        }
      }
      .tweets-body  {
        color: black;
        text-align: left;
        &:hover {
          color: $main-color;
        }
      }
      &:hover {


      }
    }
  }
}
